@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Karma:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #ffe;
    font-size: 14px;
    font-family: '微软雅黑', '宋体', sans-serif;
    color: #231F20;
    overflow: auto
}

a {
    color: #000;
    font-size: 14px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 10px;
}

#text {
    width: 400px;
    height: 425px;
    left: 60px;
    top: 80px;
    position: absolute;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
}

#code {
    display: none;
    font-size: 16px;
}

#clock-box {
    position: absolute;
    left: 60px;
    top: 550px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

#clock {
    margin-left: 48px;
}

#clock .digit {
    font-size: 64px;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}

.hand {
    cursor: pointer;
}

.say {
    width: 100%;
    margin-left: 5px;
    font-size: 22px;
    text-align: justify;
    display: block;
}

.space {
    margin-right: 150px;
}

.lehoangnhi {
    background-image: url(../image/2.gif);
    height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 200px; */
    /* width: 100%; */
    /* margin-left: 80px; */
    /* margin: auto; */
}

.title {
    color: #FF2CEB;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

.say.signature {
    margin: 0;
    display: inline-block;
    margin-left: 190px;
}

.signature {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #FF2CEB;
}

@media screen and (max-device-width: 567.98px) {
    .say.signature {
        margin-left: 160px;
    }

    .signature {
        font-size: 18px;
    }

    body {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    #main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
} 